<!-- Begin Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Saved Articles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
            </li>
        </ul>   
    </div>
</nav>
<!-- End Navbar -->

<!-- Newspaper Background Div -->
<div class="news-image">
    <div class="news-text">
        <h1 class="display-1">Real News Scraper</h1>
        <p class="display-1">Your Saved Articles</p>
    </div>
</div>

{{!-- <!-- News Listings --> --}}
{{!-- {{log articles}} --}}

{{#if articles}}

    {{#each articles}}
<div class="article" data-id='{{_id}}'>
    <div class="jumbotron jumbotron-fluid" id="header">
            <button type="button" class="btn btn-success open-notes-button" id="notes" data-toggle="modal" data-target="#notes-modal">Article Notes</button>
            <button type="button" class="btn btn-warning unsave-article" id="unsave-article">UnSave Article</button>
        <div class="container">
            <h1 class="display-4" id="headline">{{headline}}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid" id="footer">
        <div class="container">
            <p id="summary">{{summary}}...&nbsp;&nbsp;<a href="{{link}}" target="_blank">Continue to Story</a></p>
        </div>
    </div>
</div>

    {{/each}}

    {{else}}
<div class="article">
    <div class="jumbotron jumbotron-fluid no-listings" id="header">
        <div class="container">
            <h1 class="display-4" id="no-articles">You do not currently have any articles saved.  Please return <a href='/'>Home</a>.</h1>
        </div>
    </div>
</div>

{{/if}}

{{!-- <!-- End Listings --> --}}

{{!-- Begin Modal Markup --}}

<div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notes-label">Notes For Article: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div>
                        <ul class="current-notes">
                            {{!-- Notes Will Populate Here --}}
                        </ul>
                    </div>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="new-note" placeholder="New Note" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-note-button" id="save-note-button">Save Note</button>
            </div>
        </div>
    </div>
</div>